/* Variables */
:root {
    --color-background1: skyblue;
    --color-background2: #ECEFF1;
    --color-background3: #CFD8DC;
    --color-background4: #E1AD01;
    --color-background5: #E2C04F;
    --color-foreground1: #030303;
    --color-foreground2: #616161;
}

body {
    background-color: var(--color-background1);
    font-family: sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 10em;
}

/* --- Hamburger menu --- */
#hamburger-menu-checkbox {
    opacity: 0;
    /* display: none; */
}

#hamburger-menu-checkbox:checked + #hamburger-menu-btn > span {
    transform: rotate(45deg);
}

#hamburger-menu-checkbox:checked + #hamburger-menu-btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#hamburger-menu-checkbox:checked + #hamburger-menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#hamburger-menu-checkbox:checked ~ .hamburger-menu-list {
    left: 0 !important;
}

#hamburger-menu-btn {
    position: fixed;
    top: 16px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

#hamburger-menu-btn > span,
#hamburger-menu-btn > span::before,
#hamburger-menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-foreground2);
    transition-duration: .25s;
}

#hamburger-menu-btn > span {
    top: 12px;
}

#hamburger-menu-btn > span::before {
    content: '';
    top: -8px;
}

#hamburger-menu-btn > span::after {
    content: '';
    top: 8px;
}

.hamburger-menu-list {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--color-background2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    transition-duration: .25s;
}

.hamburger-menu-item {
    display: block;
    padding: 12px 24px;
    color: var(--color-foreground1);
    /* font-family: Roboto, sans-serif; */
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
}

.hamburger-menu-item:hover {
    background-color: var(--color-background3);
}

/* --- Bookmarks --- */
div#bookmarks-elements {
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: var(--color-background2);
    margin-bottom: 1em;
}

div#bookmarks-elements > span.folder-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0.3em 0.3em 0 0;
}

span.folder-actions, span.bookmark-actions {
    padding: 0.1em 0.3em;
}

ul.folders {
    padding: 0;
    margin: 0;
}

li.folder {
    list-style-type: none;
    cursor: grab;
}

li.folder.dragover {
    margin: 0.1em 0 0.1em 0.5em;
    border: 2px solid darkgrey;
    border-radius: 0.5em 0 0 0.5em;
}

details.folder-details {
    background-color: white;
    margin: 0.4em 0 0.4em 0.7em;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: var(--color-background4);
    border-radius: 0.6em 0 0 0.6em;
}

details.folder-details > summary {
    display: flex;
    cursor: pointer;
    background-color: var(--color-background4);
    border-radius: 0.5em 0 0 .5em;
    padding: 0;
}

details.folder-details > summary:hover {
    background-color: var(--color-background5);
}

details.folder-details > summary > span.folder-icon-open,
details.folder-details > summary > span.folder-icon-closed {
    padding: 0.1em 0 0.1em 0.75em;
}

details.folder-details[open] > summary > span.folder-icon-closed {
    display: none;
}

details.folder-details:not([open]) > summary > span.folder-icon-open {
    display: none;
}

details.folder-details:not([open]) > summary:hover > span.folder-icon-open {
    display: inline;
}

details.folder-details:not([open]) > summary:hover > span.folder-icon-closed {
    display: none;
}

span.folder-name {
    flex: 1;
    user-select: none;
    padding: 0.1em 0.5em;
}

ul.bookmarks {
    margin: 0.4em 0 0 0;
    padding-left: 0em;
}

div#bookmarks-elements li.bookmark {
    display: flex;
    padding: 0.1em 0 0.1em 1em;
    cursor: grab;
}

li.bookmark:hover {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--color-background4);
}

li.bookmark:nth-child(odd) {
    background-color: #E9E9E9;
}

div#bookmarks-elements > ul.bookmarks > li.bookmark:last-child {
    border-radius: 0 0 0.5em 0.5em;
}

details.folder-details > ul.bookmarks > li.bookmark:last-child {
    border-radius: 0 0 0 0.5em;
}

.bookmark-title-span {
    flex: 1;
}

.bookmark-title {
    text-decoration: none;
    color: black;
}

.bookmark-tags {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- Modal --- */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
}

.modal-form input[type="text"] {
    width: 100%;
    padding: 0.1em;
}

.modal-form button {
    margin: 0.5em 0;
}

/* Folder rename */
form.rename-folder-form {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-left: 0.4em;
}

form.rename-folder-form span.folder-rename-span {
    flex: 1;
}

/* --- Folder select --- */
#folder-select {
    border: 1px solid black;
    background-color: white;
    user-select: none;
}

#folder-select ul.folder-select-tree {
    padding-left: 1em;
    margin: 0.4em 0 0.4em 0;
}

#folder-select ul.folder-select-tree li.folder-select {
    list-style-type: none;
}

ul.folder-select-tree li.folder-select input[type="radio"] {
    display: none;
}

#folder-select ul.folder-select-tree li.folder-select input[type="radio"]:checked+label {
    background-color: #E1AD01;
    color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.1em 0.75em;
}

/* --- General --- */
.fake-button {
    display: inline-block;
    padding: 0.1em 0.5em;
    background-color: #E9E9ED;
    border: 1px solid grey;
    border-radius: 0.15em;
    text-decoration: none;
    color: black;
}

.fake-button:hover {
    background-color: lightgrey;
    border: 1px solid black;
}

