body {
    background-color: skyblue;
    font-family: sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 10em;
}

nav ul, footer p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5em;
}

nav ul li, footer p a {
    flex: 1;
    /*display: inline-block;*/
    margin: .3em;
    padding: 0 0.5em;
    border-radius: 0.5em;
    background-color: skyblue;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5em;
    text-align: center;
}

/* --- Bookmarks --- */
div#bookmarks-elements {
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: white;
    margin-bottom: 1em;
}

div#bookmarks-elements > span.folder-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0.3em 0.3em 0 0;
}

span.folder-actions, span.bookmark-actions {
    padding: 0.1em 0.3em;
}

ul.folders {
    padding: 0;
    margin: 0;
}

li.folder {
    list-style-type: none;
    cursor: grab;
}

li.folder.dragover {
    margin: 0.1em 0 0.1em 0.5em;
    border: 2px solid darkgrey;
    border-radius: 0.5em 0 0 0.5em;
}

details.folder-details {
    background-color: white;
    margin: 0.4em 0 0.4em 0.7em;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #E1AD01;
    border-radius: 0.6em 0 0 0.6em;
}

details.folder-details > summary {
    display: flex;
    cursor: pointer;
    background-color: #E1AD01;
    border-radius: 0.5em 0 0 .5em;
    padding: 0;
}

details.folder-details > summary:hover {
    background-color: #E2C04F;
}

details.folder-details > summary > span.folder-icon-open,
details.folder-details > summary > span.folder-icon-closed {
    padding: 0.1em 0 0.1em 0.75em;
}

details.folder-details[open] > summary > span.folder-icon-closed {
    display: none;
}

details.folder-details:not([open]) > summary > span.folder-icon-open {
    display: none;
}

details.folder-details:not([open]) > summary:hover > span.folder-icon-open {
    display: inline;
}

details.folder-details:not([open]) > summary:hover > span.folder-icon-closed {
    display: none;
}

span.folder-name {
    flex: 1;
    user-select: none;
    padding: 0.1em 0.5em;
}

ul.bookmarks {
    margin: 0.4em 0 0 0;
    padding-left: 0em;
}

div#bookmarks-elements li.bookmark {
    display: flex;
    padding: 0.1em 0 0.1em 1em;
    cursor: grab;
}

li.bookmark:hover {
    border-width: 1px 0;
    border-style: solid;
    border-color: #E1AD01;
}

li.bookmark:nth-child(odd) {
    background-color: #E9E9E9;
}

li.bookmark:last-child {
    border-radius: 0 0 0.5em 0.5em;
}

.bookmark-title-span {
    flex: 1;
}

.bookmark-title {
    text-decoration: none;
    color: black;
}

.bookmark-tags {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- Modal --- */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
}

.modal-form input[type="text"] {
    width: 100%;
    padding: 0.1em;
}

.modal-form button {
    margin: 0.5em 0;
}

/* Folder rename */
form.rename-folder-form {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-left: 0.4em;
}

form.rename-folder-form span.folder-rename-span {
    flex: 1;
}

/* --- Folder select --- */
#folder-select {
    border: 1px solid black;
    background-color: white;
    user-select: none;
}

#folder-select ul.folder-select-tree {
    padding-left: 1em;
    margin: 0.4em 0 0.4em 0;
}

#folder-select ul.folder-select-tree li.folder-select {
    list-style-type: none;
}

ul.folder-select-tree li.folder-select input[type="radio"] {
    display: none;
}

#folder-select ul.folder-select-tree li.folder-select input[type="radio"]:checked+label {
    background-color: #E1AD01;
    color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.1em 0.75em;
}

