<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }}</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {{ range .NavItems }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        <main>
            {{ template "content" . }}
        </main>
        <footer>
            <p><a href="https://github.com/cjm-1/webdwelling">Host your own!</a></p>
        </footer>
    </body>
</html>
