<!-- nav: include, weight: 5, auth: require -->
{{define "folder-tree"}}
<ul class="foldertree" id="folder-{{.ID}}">
    <li class="folder">
        <details>
            <summary>
                <span class="folder-name">📁 {{.Name}}</span>
                <span class="folder-actions" data-id="{{.ID}}">
                    <button class="add-bookmark">+ Bookmark</button>
                    <button class="add-folder">+ Folder</button>
                </span>
            </summary>
            {{ if .ChildFolders }}
                {{ range .ChildFolders }}
                    {{ template "folder-tree" . }}
                {{ end }}
            {{ end }}

            {{- /* Bookmarks within this folder */ -}}
            <ul class="bookmarks">
            {{if .ChildBookmarks}}
                {{range .ChildBookmarks}}
                <li class="bookmark">
                    <a href="{{.URL}}" target="_blank" class="bookmark-title">{{.Title}}</a>
                    {{if .Tags}}
                    <span class="bookmark-tags">{{.Tags}}</span>
                    {{end}}
                    <span class="bookmark-actions">
                        <button class="edit-bookmark">Edit</button>
                        <button class="delete-bookmark">Delete</button>
                    </span>
                </li>
                {{end}}
            {{end}}
            </ul>
        </details>
    </li>
</ul>
{{end}}

{{ template "header.html" . }}
<section>
    <h1>Your bookmarks</h1>
    <div id="bookmarks-elements" class="foldertree">
        <span class="folder-actions" data-id="{{.Bookmarks.ID}}">
            <button class="add-bookmark">+ Bookmark</button>
            <button class="add-folder">+ Folder</button>
        </span>
        {{ if .Bookmarks.ChildFolders }}
            {{ range .Bookmarks.ChildFolders }}
                {{ template "folder-tree" .}}
            {{ end }}
        {{ end }}
        {{range .Bookmarks.ChildBookmarks}}
        <li class="bookmark">
            <a href="{{.URL}}" target="_blank" class="bookmark-title">{{.Title}}</a>
            {{if .Tags}}
            <span class="bookmark-tags">{{.Tags}}</span>
            {{end}}
            <span class="bookmark-actions">
                <button class="edit-bookmark">Edit</button>
                <button class="delete-bookmark">Delete</button>
            </span>
        </li>
        {{end}}
    </div>
</section>
{{ template "footer.html" . }}
<script src="/bookmarks.js"></script>
