<!-- nav: -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .title }}</title>
        <link rel="icon" href="{{ .basePath }}/favicon.ico">
        <link rel="stylesheet" href="{{ .basePath }}/style.css">
    </head>
    <body>
        <nav class="hamburger-menu">
            <input type="checkbox" id="hamburger-menu-checkbox">
            <label for="hamburger-menu-checkbox" id="hamburger-menu-btn">
                <span></span>
            </label>
            <ul class="hamburger-menu-list">
                {{ $basePath := .basePath }}
                {{ range .NavItems }}
                <li><a href="{{ $basePath }}{{ .URL }}" class="hamburger-menu-item">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <main>
